
.banner {
    padding: 0 150px;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner__text {
    width: 40%;
}

.banner__text p{
    padding-top: 30px;
    line-height: 35px;
}

.banner h2 {
    color: #FD9757;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.categorias{
    margin: 6.25rem 0;
}

.categorias h2{
    margin-bottom: 70px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.categorias__container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 21.875rem;
    grid-column-gap: 3.75rem;
    align-items: flex-end;
    justify-items: center;
}

.categoria__container{
    width: 300px;
    height: 100%;
    background-color: #E0E0E0;
    text-align: center;
    border-radius: 20px;
}


.categoria__container h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.categoria__container .categoria__texts a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}