@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.nav__list .nav__item, .nav__list .nav__item--icon {
    list-style: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.nav__list .nav__item{
    padding: 0 2rem;
}

.nav__item a{
    text-decoration: none;
    color:black;
    transition: color border-bottom all 0.3s ;
}

.nav__item a:hover, .nav__item--icon{
    color: #666666;
}
.nav__item--center a{
    font-size: 40px;
    font-weight: 700;
    color: #88A27B;
    letter-spacing: 3px;
}

.nav__item--center a:hover{
    color: #88A27B;
}

.nav__item .nav__products{
    position: absolute;
    display: none;
    background-color: white;
    padding: 1.2rem ;
}

.nav__products .item__products{
    margin-top: .8rem;
    cursor: pointer;
    list-style: none; 
    transition: color 0.2s ease;
}

.nav__item .nav__products--active{
    display: block;
    margin-left: -1.25rem;
}

.nav_item--icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav__products .item__products{
    font-size: 17px;
}